li a:hover {
  color: white;
}

a::before {
  color: white;
}

/*Headers*/

header, .menu{
  margin-top: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.navigation_tell p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
}

.navigation_tell {
  text-align: right;
}

.navigation_tell a {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #684cd4;
  position: relative;
  bottom: 9px;
}

.navigation_tell a:hover {
  color: white;
}

.nav__menu__top {
  display: flex;
  margin-top: 16px;
}

.navigation {
  margin-right: 97px;
}

.navigation li {
  padding-right: 50px;
}

.navigation li:nth-child(3) {
  padding-right: 0;
}

.menu {
  display: none;
}

@media (max-width: 1000px) {
  .header_full {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__menu__top {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu a {
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    padding: 30px 20px 20px 20px;
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 15px;
    background: #011015;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 2;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu li {
    list-style-type: none;
  }
  header {
    display: flex;
    justify-content: flex-end;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
}

@media (max-width: 600px) {
  .nav__logo img {
    width: 100px;
    height: 80px;
  }
}

/*Footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot__flex {
  display: flex;
  align-items: center;
}

.nav__foot {
  margin-top: 16px;
}

.nav__tell__foot {
  margin-top: 25px;
}

.foot__logo img {
  width: 246px;
  height: 197px;
}

@media (max-width: 1000px) {
  .nav__foot {
    display: none;
  }
}

@media (max-width: 991px) {
  .foot__logo img {
    width: auto;
    height: auto;
  }
}

@media (max-width: 600px) {
  .foot__logo img {
    width: 120px;
    height: 96px;
  }
}

@media (max-width: 478px){
  .menu a{
    font-size: 12px;
  }
}

