@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Podkova:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Podkova:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kurenaido&display=swap');

ul li {
    display: inline;
   }

.hat_block{
  position: fixed;
  width: 100%;
  background: #1E252B;
  z-index: 23;
}
   
.hat_navigation a{
    text-decoration: none;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

.hat_navigation a::before {
	content: '';
	position: absolute;
	left: 0;
    bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: white;
}


.hat_navigation a:hover:before {
	width: 100%;
}

.hat_navigation a::before {
	transition: width 0.35s;
}

body{
    background: #1E252B;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

/*шапка*/

.hat{
    display: flex;
    justify-content: space-between;
}

.hat_logo{
    margin-top: 30px;
}

.hat_logo p{
    font-family: Manrope;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 100%;
margin: 0;
color: #FFFFFF;
}

.logo_txt{
    position: relative;
    left: 30px;
    bottom: 20px;
}

.hat_navigation a{
    font-family: Abhaya Libre;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
color: #808080;
}

.hat_navigation li:last-child{
    padding-right: 0;
}

.hat_navigation li{
padding-right: 76px;
}

.hat_navigation{
    margin-top: 45px;
}
/*шапка*/

/*основной блок*/

.foundation_block{
    display: flex;
    margin-bottom: 200px;
}

.foundation_left{
    margin-top: 200px;
    z-index: 2;
}

.foundation_left_text_top h1{
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 110%;
letter-spacing: 1.2px;
color: #FFFFFF;
}

.foundation_img img{
    width: 589px;
height: 892px;
position: absolute;
right: 40px;
z-index: 1;
top: 150px;
}

.foundation_left_text_top p{
    font-family: Abhaya Libre;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 150%;
color: rgba(255, 255, 255, 0.55);
margin-top: 35px;
}

.foundation_left_text_bottom button {  
border: 2px solid #FF6E30;
box-sizing: border-box;
border-radius: 15px;
padding: 18px 36px 18px 36px;
background-image: none; 
background: transparent;
cursor: pointer;
margin-top: 35px;
}

.foundation_left_text_bottom a{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}



/*основной блок*/

/*бургер*/

.hamburger-menu{
    display: none;
}

.open{
    display: none;
}

.aboutMe_text_adp{
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 30px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #e5e5e5;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    z-index: 23;
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

/*кнопка на верх*/
